[Unit]
Description=ZeroRpc Server
After=usrp-hwd.service

[Service]
ExecStart=/bin/bash /home/root/usrp_uhd_api/start_usrp_server.bash

[Install]
WantedBy=multi-user.target
