[Unit]
Description=ZeroRpc Server

[Service]
Type=simple
ExecStartPre=/bin/sleep 60
ExecStart=/bin/bash /home/root/usrp_uhd_api/start_usrp_server.bash
ProtectHome=off
After=usrp-hwd.service
[Install]
WantedBy=multi-user.target
